# Python
__pycache__/
*.pyc
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# OS/editor
.DS_Store
.vscode/

# Data outputs
data/interim/*
data/processed/*

# Keep folders
!data/interim/.gitkeep
!data/processed/.gitkeep
!data/processed/internships_clean.csv
tmp_replit_import/
*.zip
